doctype
html
	head
		title RadDeck - Rapid Application Development for Realtime Audience Dialog
		link(rel="stylesheet", href="/site.css")
		meta(name="viewport", content="width=device-width,initial-scale=1")
	body
		#head
			.panel
				a#logo(href="/")
					img(src="/img/logo40.png")
					<span>Rad</span>Deck
		#body
			#content.panel
				block content
		#foot
			.panel
				br
				br

		script(src="/site.js")